:root {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  margin-bottom: 4rem;
}

p {
  margin-bottom: 2rem;
}

